{
  "comment": "AdSkIdentity SDK config file for windows",
  "ssoServer": {
    "appName": "AdskIdentityManager.exe",
    "exeName": "AdskIdentityManager.exe",
    "processName": "Autodesk.IDSDK.DefaultProcess-v2",
    "serverName": "Autodesk.IDSDK.DefaultServer-v2",
    "bundleId": "",
    "searchPaths": "",
	"VersionCompatibilityConfigfilePath": "",
    "supportBothLocalAndAdmin": false
  },
  "openssl": {
    "moduleName": "",
    "modulePath": ""
  }
}
